.ppt-list {
  height: 100vh;
  background: #f7f8f9;
  &__header {
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #eee;
    background: #fff;
  }
  &__content {
    height: calc(100% - 80px);
    width: 1200px;
    margin: 20px auto;
   
    .loading {
      width: 100%;
      text-align: center;
    }
  }
}
