.thumbnail-slide{
  background-color: #fff;
  overflow: hidden;
  &__background {
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
    // z-index: 2;
  }
  &__mask{
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
    z-index: 1;
  }
  &__elements {
    transform-origin: 0 0;
    border: 3px solid  #eee;
      &.element-active{
      border: 3px solid $themeColor
    }
  }
}