.editable-element-shape {
  position: absolute;
  pointer-events: none;

  &.lock .element-content {
    cursor: default;
  }

  .rotate-wrapper {
    width: 100%;
    height: 100%;
  }
  .element-content {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: move;

    svg {
      transform-origin: 0 0;
      overflow: visible;
    }

    .shape-path {
      pointer-events: all;
    }
  }
  .shape-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 1.2;
    word-break: break-word;
    pointer-events: none;

    &.editable {
      pointer-events: all;
    }

    &.top {
      justify-content: flex-start;
    }
    &.middle {
      justify-content: center;
    }
    &.bottom {
      justify-content: flex-end;
    }
  }
  .show-text {
    pointer-events: none;
  }
}
