
.ik-web-ppt{
  height: 100%;
}
.ikppt-editor{
  height: 100%;
  &__header{
    height: 40px;
    background-color: #fff;
    user-select: none;
    border-bottom: 1px solid $borderColor;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    .left{
      display: flex;
      .left-item{
        height: 100%;
        font-size: 14px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .2s;
        cursor: pointer;
        &:hover{
          background-color: #eee
        }
      }
    }
    .right{
      .right-item{
        height: 100%;
        font-size: 14px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__content{
    height: calc(100% - 40px);
    display: flex;
    .content-left{
      width: 160px;
      height: 100%;
      flex-shrink: 0;
      cursor: pointer;
      border-right: 1px solid $borderColor;
      &__top{
        height: 40px;
        border-bottom: 1px solid $borderColor;
        .select-btn{
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid #eee;
        }
      }
      &__bottom{
        height: calc(100% - 40px);
        overflow: auto;
        .thumbnails-item{
          padding: 5px 0;
          .order-number{
            width: 20px;
            cursor: grab;
          }
        }
      }
    }
    .content-right{
      width: 260px;
      height: 100%;
      border-left: 1px solid $borderColor;
    }
    .content-center{
      width: calc(100% - 160px - 260px);
      .center-top {
        height: 40px;
      }
    }
  }
}